*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
.t-white{
  color: #FFFFFF;
}
.container{
  width: 80%;
  min-width: 1080px;
  margin: 0 auto;
}
.t-12{
  font-size: 12px;
}
.p-2{
  padding-bottom: 2px;
}
/*.flex-container{
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

/*HEADER*/
header{
  height: 80px;
  background-color: #FF6900;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 16px;
}
.menu ul{
  display: flex;
  list-style: none;  
}
.menu ul li{
  margin: 0 5px;  
}
.menu ul li a{
  color: #FFFFFF;  
}
.menu ul li a:hover{
  text-decoration: underline;
}
.logo a img{
  height: 40px;
}
.icon ul{
  display: flex;
  list-style: none;  
}
.t-white i{
  padding: 0 5px;
}
/*MAIN*/
/*main{
  margin-top: 80px;
}*/
main .container{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;  
}
.card{
  position: relative;
	width: calc(100% / 3 - 20px);
  max-width: 400px;
  height: 610px;
  margin: 40px 10px;
	cursor: pointer;
}
.image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.image img:last-child{
  display: none;
}
.image:hover img:last-child{
  display: block;
}
.text{
  position: absolute;
  bottom: 0;
  left: 0;
}
.scontato{
  font-weight: bold; 
  color: #FF0000;
}
.prezzo-pieno{
  text-decoration: line-through;
}
.heart{
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px 15px;
  font-size: 25px;
  background-color: white;
}
.heart:hover{
  color: #FF0000;
}
.tar{
  
}
.target{
  display: inline-block;
  position: absolute;  
  bottom: 70px;
  left: 0; 
  padding: 5px 10px;
  font-weight: bold;  
}
.sconto{

  background-color: #FF0000;
}
.sostenibile{
  background-color: #008000;
}
/*FOOTER*/
footer{
  background-color: #1A1A1A;
  color: white;

}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.azienda h5{
  padding-bottom: 7px;
}
.social{
  text-align: center;
}
.social p{
  font-weight: bold;
  padding-bottom: 7px;
}